// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//    ┌────────────┬────────────────────┬────────┬────────┬──────┐           ┌──────────┬────────┬────────┬────────────────────┬────────────┐
//    │     Q      │         W          │   F    │   P    │  B   │           │    J     │   L    │   U    │         Y          │     '      │
//    ├────────────┼────────────────────┼────────┼────────┼──────┤           ├──────────┼────────┼────────┼────────────────────┼────────────┤
//    │ &ht lsft A │       lt 7 R       │ lt 4 S │ lt 2 T │  G   │           │    M     │ lt 3 N │ lt 6 E │       lt 1 I       │ &ht rsft O │
//    ├────────────┼────────────────────┼────────┼────────┼──────┤           ├──────────┼────────┼────────┼────────────────────┼────────────┤
//    │     Z      │ &ht left_CONTROL X │   C    │   D    │  V   │           │    K     │   H    │   ,    │ &ht rght_CONTROL . │     /      │
//    └────────────┴────────────────────┴────────┼────────┼──────┤           ├──────────┼────────┼────────┴────────────────────┴────────────┘
//                                               │  lgui  │ bspc │           │ lt 5 spc │        │
//                                               └────────┴──────┘           └──────────┴────────┘
  &kp Q         &kp W                &kp F     &kp P      &kp B                  &kp J         &kp L     &kp U       &kp Y                   &kp SQT
  &ht LSHFT A   &lt 7 R              &lt 4 S   &lt 2 T    &kp G                  &kp M         &lt 3 N   &lt 6 E     &lt 1 I                 &ht RSHIFT O
  &kp Z         &ht LEFT_CONTROL X   &kp C     &kp D      &kp V                  &kp K         &kp H     &kp COMMA   &ht RIGHT_CONTROL DOT   &kp FSLH
                                               &kp LGUI   &kp BSPC               &lt 5 SPACE   &trans
            >;
        };
				number_layer {
					bindings = <
//    ┌───┬───┬───┬─────┬─────┐           ┌─────┬─────┬─────┬─────┬─────┐
//    │ / │ 7 │ 8 │  9  │  +  │           │     │     │     │     │     │
//    ├───┼───┼───┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │ 0 │ 1 │ 2 │  3  │  -  │           │     │     │     │     │     │
//    ├───┼───┼───┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │ * │ 4 │ 5 │  6  │  =  │           │     │     │     │     │     │
//    └───┴───┴───┼─────┼─────┤           ├─────┼─────┼─────┴─────┴─────┘
//                │     │     │           │     │     │
//                └─────┴─────┘           └─────┴─────┘
  &kp FSLH       &kp NUMBER_7   &kp NUMBER_8   &kp NUMBER_9   &kp PLUS                &trans   &trans   &trans   &trans   &trans
  &kp NUMBER_0   &kp NUMBER_1   &kp NUMBER_2   &kp NUMBER_3   &kp MINUS               &trans   &trans   &trans   &trans   &trans
  &kp ASTERISK   &kp NUMBER_4   &kp NUMBER_5   &kp NUMBER_6   &kp EQUAL               &trans   &trans   &trans   &trans   &trans
                                               &trans         &trans                  &trans   &trans
   			>;
				};
				right_symbol_layer {
				bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┐           ┌─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │           │  ^  │  &  │  *  │  (  │  )  │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │           │     │  "  │  $  │     │     │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │           │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┤           ├─────┼─────┼─────┴─────┴─────┘
//                      │     │     │           │     │     │
//                      └─────┴─────┘           └─────┴─────┘
  &trans   &trans   &trans   &trans   &trans               &kp CARET   &kp AMPERSAND       &kp ASTERISK   &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS
  &trans   &trans   &trans   &trans   &trans               &trans      &kp DOUBLE_QUOTES   &kp DOLLAR     &trans                 &trans
  &trans   &trans   &trans   &trans   &trans               &trans      &trans              &trans         &trans                 &trans
                             &trans   &trans               &trans      &trans
					>;
				};
				left_symbol_layer {
				bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┐           ┌─────┬─────┬─────┬─────┬─────┐
//    │  !  │  "  │     │  $  │  %  │           │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │  {  │  }  │  (  │  )  │     │           │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │     │     │  [  │  ]  │     │           │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┤           ├─────┼─────┼─────┴─────┴─────┘
//                      │     │     │           │     │     │
//                      └─────┴─────┘           └─────┴─────┘
  &kp EXCLAMATION   &kp DOUBLE_QUOTES   &trans                 &kp DOLLAR              &kp PERCENT               &trans   &trans   &trans   &trans   &trans
  &kp LEFT_BRACE    &kp RIGHT_BRACE     &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS   &trans                    &trans   &trans   &trans   &trans   &trans
  &trans            &trans              &kp LEFT_BRACKET       &kp RIGHT_BRACKET       &trans                    &trans   &trans   &trans   &trans   &trans
                                                               &trans                  &trans                    &trans   &trans
					>;
				};
				mouse_layer {
				bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┐           ┌─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │           │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │           │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │           │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┤           ├─────┼─────┼─────┴─────┴─────┘
//                      │     │     │           │     │     │
//                      └─────┴─────┘           └─────┴─────┘
  &trans   &trans   &trans   &trans   &trans               &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans               &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans               &trans   &trans   &trans   &trans   &trans
                             &trans   &trans               &trans   &trans
					>;
				};
				thumb_layer {
				bindings = <
//    ┌────────────────┬─────┬─────┬─────┬─────┐           ┌─────┬─────┬─────┬─────┬──────┐
//    │                │     │     │ esc │     │           │     │     │     │     │      │
//    ├────────────────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼──────┤
//    │ &studio_unlock │     │     │ ent │     │           │     │     │     │     │      │
//    ├────────────────┼─────┼─────┼─────┼─────┤           ├─────┼─────┼─────┼─────┼──────┤
//    │      boot      │     │     │  !  │     │           │     │     │     │     │ boot │
//    └────────────────┴─────┴─────┼─────┼─────┤           ├─────┼─────┼─────┴─────┴──────┘
//                                 │     │ tab │           │     │     │
//                                 └─────┴─────┘           └─────┴─────┘
  &trans           &trans   &trans   &kp ESCAPE        &trans                &trans   &trans   &trans   &trans   &trans
  &studio_unlock   &trans   &trans   &kp ENTER         &trans                &trans   &trans   &trans   &trans   &trans
  &bootloader      &trans   &trans   &kp EXCLAMATION   &trans                &trans   &trans   &trans   &trans   &bootloader
                                     &trans            &kp TAB               &trans   &trans
					>;
				};
				arrow_layer {
				bindings = <
//    ┌────────────────┬──────┬─────┬──────┬──────┐           ┌─────┬─────┬─────┬─────┬──────┐
//    │                │      │     │      │      │           │     │     │     │     │      │
//    ├────────────────┼──────┼─────┼──────┼──────┤           ├─────┼─────┼─────┼─────┼──────┤
//    │ &studio_unlock │ left │ up  │ down │ rght │           │     │     │     │     │      │
//    ├────────────────┼──────┼─────┼──────┼──────┤           ├─────┼─────┼─────┼─────┼──────┤
//    │      boot      │      │     │      │      │           │     │     │     │     │ boot │
//    └────────────────┴──────┴─────┼──────┼──────┤           ├─────┼─────┼─────┴─────┴──────┘
//                                  │      │      │           │     │     │
//                                  └──────┴──────┘           └─────┴─────┘
  &trans           &trans           &trans         &trans           &trans                        &trans   &trans   &trans   &trans   &trans
  &studio_unlock   &kp LEFT_ARROW   &kp UP_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW               &trans   &trans   &trans   &trans   &trans
  &bootloader      &trans           &trans         &trans           &trans                        &trans   &trans   &trans   &trans   &bootloader
                                                   &trans           &trans                        &trans   &trans
					>;
				};
				hypr_layer {
				bindings = <
//    ┌──────┬─────┬─────┬─────┬──────┐           ┌──────┬─────────┬─────────┬─────────┬──────┐
//    │      │     │     │     │      │           │      │ lgui(7) │ lgui(8) │ lgui(9) │      │
//    ├──────┼─────┼─────┼─────┼──────┤           ├──────┼─────────┼─────────┼─────────┼──────┤
//    │      │     │     │     │      │           │      │ lgui(1) │ lgui(2) │ lgui(3) │      │
//    ├──────┼─────┼─────┼─────┼──────┤           ├──────┼─────────┼─────────┼─────────┼──────┤
//    │ boot │     │     │     │      │           │      │ lgui(4) │ lgui(5) │ lgui(6) │ boot │
//    └──────┴─────┴─────┼─────┼──────┤           ├──────┼─────────┼─────────┴─────────┴──────┘
//                       │     │ lsft │           │ lsft │         │
//                       └─────┴──────┘           └──────┴─────────┘
  &trans        &trans   &trans   &trans   &trans                       &trans           &kp LG(NUMBER_7)   &kp LG(NUMBER_8)   &kp LG(NUMBER_9)   &trans
  &trans        &trans   &trans   &trans   &trans                       &trans           &kp LG(NUMBER_1)   &kp LG(NUMBER_2)   &kp LG(NUMBER_3)   &trans
  &bootloader   &trans   &trans   &trans   &trans                       &trans           &kp LG(NUMBER_4)   &kp LG(NUMBER_5)   &kp LG(NUMBER_6)   &bootloader
                                  &trans   &kp LEFT_SHIFT               &kp LEFT_SHIFT   &trans
					>;
				};
		};
};
